In [3]:
import sqlite3
import pandas as pd

In [4]:
def tabelas_bd():
    """Retorna um DataFrame com as tabelas do banco de dados."""
    try:
        # Abre a conexão com o banco de dados
        conexao = sqlite3.connect('coderhouse.db')
        
        # Consulta as tabelas no banco de dados
        consulta = "SELECT name FROM sqlite_master WHERE type='table';"
        tabelas = pd.read_sql_query(consulta, conexao)
        
        return tabelas
    except sqlite3.Error as e:
        print(f"Erro ao listar tabelas do banco de dados: {e}")
        return None
    finally:
        # Fecha a conexão com o banco de dados, independentemente do resultado
        if conexao:
            conexao.close()

In [ ]:
tabelas_bd()

In [8]:
def salva_bd(df, nome_tabela):
    """Salva um DataFrame na tabela nome_tabela."""
    try:
        # Abre a conexão com o banco de dados
        conexao = sqlite3.connect('coderhouse.db')
        
        # Salva o DataFrame na tabela
        df.to_sql(nome_tabela, conexao, if_exists='replace', index=False)
        print(f"DataFrame salvo na tabela '{nome_tabela}' com sucesso.")
    except sqlite3.Error as e:
        print(f"Erro ao salvar DataFrame na tabela: {e}")
    finally:
        # Fecha a conexão com o banco de dados, independentemente do resultado
        if conexao:
            conexao.close()

In [10]:
def carrega_bd(nome_tabela):
    """Carrega a tabela nome_tabela em um DataFrame."""
    try:
        # Abre a conexão com o banco de dados
        conexao = sqlite3.connect('coderhouse.db')
        
        # Consulta os dados da tabela e carrega em um DataFrame
        consulta = f"SELECT * FROM {nome_tabela};"
        df = pd.read_sql_query(consulta, conexao)
        
        return df
    except sqlite3.Error as e:
        print(f"Erro ao carregar tabela do banco de dados: {e}")
        return None
    finally:
        # Fecha a conexão com o banco de dados, independentemente do resultado
        if conexao:
            conexao.close()

In [ ]:
carrega_bd('fastfood')

In [ ]:
fastfood_df = pd.read_excel('fastfood.xlsx')
fastfood_df.head(2)

In [ ]:
tabelas_bd()

In [ ]:
salva_bd(fastfood, "fastfood")

In [17]:
df_new = carrega_bd("fastfood")
df_new.head(2)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,1682910000,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other